PUBLIC_SANITY_PROJECT_ID=your_project_id
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_VISUAL_EDITING_ENABLED=false
SANITY_API_READ_TOKEN=
SANITY_STUDIO_POSTHOG_HOST=https://eu.i.posthog.com
SANITY_STUDIO_POSTHOG_PROJECT_ID=62235
SANITY_STUDIO_POSTHOG_PERSONAL_API_KEY=

